<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Format -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- Word Density Theme, Main Layout, Using Latte -->

        <!-- Title -->
        <title>{insertPageTitle()}</title>

        <!-- Viewport -->
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized"  content="width">
        <meta name="viewport"         content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scale=no">

        <!-- Page Description -->
        <meta name="description" content="{insertMetaDescription()}">

        <!-- Page Keywords -->
        <meta name="keywords" content="{insertMetaKeywords()}">

        {insertMetaRobots(2)}
        {insertResourceFiles(2)}
    </head>
    <body data-theme="word-density-theme" data-color-mode="light">
        <div id="banner">
            <span id="banner-main-text"> <i class="fa-solid fa-magnifying-glass fa-lg"></i> Website Word Density Helper</span>
        </div>
        <div id="content">
            {insertPage()}
        </div>

        <hr>

        <div id="footer">
            Copyright (c) 2023 - Legal stuff goes here. More legal stuff.
        </div>
    </body>
</html>