<h1>
    Add website URLs to view word density:
</h1>

<p>
    Click on the "Add New URL" button to add a website URL to view the word density report for the page.
</p>

<div data-section="word-density-testing">
    <!--
    <div class="action-bar">
        <div data-section-item-type="button-div" class="aero-gel aero-gel-blurred" tabindex="0" data-click-event="word-density-ui >>> add-url">Add New URL</div>
    </div>
    -->

    <div id="url-list"></div>

    <div class="action-bar">
        <div data-section-item-type="button-div" class="aero-gel aero-gel-blurred" tabindex="0" data-click-event="word-density-ui >>> add-url">Add New URL</div>
    </div>
</div>

